<Navbar></Navbar>

<div class="row p-5">
  <div class="col-8">
    <div class="row justify-content-center m-2">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="Search"
          [(ngModel)]="searchText"
        />
      </div>
    </div>

    <div class="row">
      <div
        class="col-4"
        *ngFor="let product of products | appFilter: searchText"
      >
        <Card
          [name]="product.name"
          [price]="product.price"
          [url]="product.url"
        ></Card>
        <button class="btn btn-dark ml-3" (click)="addToCart(product.id)">
          Add To Cart
        </button>
      </div>
    </div>
  </div>

  <div class="col-4">
    <ul>
      <li *ngFor="let item of cart">{{ item.id }}</li>
    </ul>
  </div>
</div>
